infra/itops/n8n-workflows/batch-sentinel.json
{
  "name": "batch-sentinel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batch-outcome",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2200, 0],
      "webhookId": "batch-sentinel-webhook-v1"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// HMAC-SHA256 + anti-replay timestamp verification for batch-sentinel webhook.\n// Differences vs sentry-ingest (legacy) :\n//   - secret env : $env.N8N_BATCH_SENTINEL_WEBHOOK_SECRET\n//   - signature header : X-Signature-256 (= 'sha256=<hex>')\n//   - extra check : X-Timestamp drift <= 300s (anti-replay)\nconst crypto = require('crypto');\n\nconst secret = $env.N8N_BATCH_SENTINEL_WEBHOOK_SECRET;\nif (!secret) throw new Error('N8N_BATCH_SENTINEL_WEBHOOK_SECRET env not set');\n\nconst item = $input.first();\nconst itemJson = item.json || {};\nconst headers = itemJson.headers || {};\n\nconst rawSigHeader = headers['x-signature-256'] || headers['X-Signature-256'];\nconst tsHeader = headers['x-timestamp'] || headers['X-Timestamp'];\nif (!rawSigHeader || !tsHeader) {\n  return { json: { _hmac_status: 'missing_signature', _statusCode: 401 } };\n}\n\nconst tsNum = Number(tsHeader);\nif (!Number.isFinite(tsNum)) {\n  return { json: { _hmac_status: 'invalid_timestamp', _statusCode: 400 } };\n}\nconst nowSec = Math.floor(Date.now() / 1000);\nif (Math.abs(nowSec - tsNum) > 300) {\n  return { json: { _hmac_status: 'stale_timestamp', _statusCode: 401 } };\n}\n\nconst presentedHex = rawSigHeader.startsWith('sha256=') ? rawSigHeader.slice(7) : rawSigHeader;\n\nconst binaryData = item.binary && item.binary.data;\nif (!binaryData || !binaryData.data) {\n  return { json: { _hmac_status: 'raw_body_unavailable_binary', _statusCode: 500 } };\n}\nconst rawBuf = Buffer.from(binaryData.data, 'base64');\nconst expectedHex = crypto.createHmac('sha256', secret).update(rawBuf).digest('hex');\n\nconst presentedBuf = Buffer.from(presentedHex, 'hex');\nconst expectedBuf = Buffer.from(expectedHex, 'hex');\nif (presentedBuf.length !== expectedBuf.length || !crypto.timingSafeEqual(presentedBuf, expectedBuf)) {\n  return { json: { _hmac_status: 'invalid_signature', _statusCode: 401 } };\n}\n\nconst bodyObj = itemJson.body || {};\nreturn { json: { ...bodyObj, _hmac_status: 'ok' } };\n"
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "HMAC + Timestamp Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2000, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Validate batch outcome payload schema. Reject malformed payloads with 400.\nconst body = $json;\n\nconst required = [\n  ['workflow_name', body.workflow_name],\n  ['conclusion', body.conclusion],\n  ['run_id', body.run_id],\n  ['run_url', body.run_url],\n  ['completed_at', body.completed_at],\n  ['attempt', body.attempt],\n];\nfor (const [name, value] of required) {\n  if (value === undefined || value === null || value === '') {\n    return { json: { ...body, _schema_status: 'missing_field', _field: name, _statusCode: 400 } };\n  }\n}\n\nconst validConclusions = ['success', 'failure', 'cancelled', 'timed_out', 'action_required', 'skipped', 'neutral'];\nif (!validConclusions.includes(body.conclusion)) {\n  return { json: { ...body, _schema_status: 'invalid_conclusion', _field: 'conclusion', _statusCode: 400 } };\n}\n\nreturn {\n  json: {\n    ...body,\n    _schema_status: 'ok',\n    _external_id: 'batch:' + body.workflow_name,\n  },\n};\n"
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Schema Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1800, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "g1", "leftValue": "={{ $json._hmac_status }}", "rightValue": "ok", "operator": { "type": "string", "operation": "equals" } },
            { "id": "g2", "leftValue": "={{ $json._schema_status }}", "rightValue": "ok", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "IF Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1600, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": "={{ $json._statusCode || 400 }}",
        "responseBody": "={{ JSON.stringify({ status: 'rejected', reason: $json._hmac_status || $json._schema_status, field: $json._field || null }) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1400, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "s1", "leftValue": "={{ $json.conclusion }}", "rightValue": "success", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "IF conclusion success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-1400, -100]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Append success outcome to static data for the daily digest aggregate.\n// Pruning : remove entries older than 25h (1h margin over the 24h digest window).\nconst body = $json;\nconst sd = $getWorkflowStaticData('global');\nif (!Array.isArray(sd.batch_outcomes)) sd.batch_outcomes = [];\n\nsd.batch_outcomes.push({\n  workflow_name: body.workflow_name,\n  conclusion: body.conclusion,\n  run_url: body.run_url,\n  completed_at: body.completed_at,\n  duration_s: body.duration_s ?? null,\n  attempt: body.attempt,\n});\n\nconst cutoffMs = Date.now() - 25 * 60 * 60 * 1000;\nsd.batch_outcomes = sd.batch_outcomes.filter((e) => {\n  const t = new Date(e.completed_at).getTime();\n  return Number.isFinite(t) && t >= cutoffMs;\n});\n\nreturn { json: { ...body, _appended: true, _branch: 'success' } };\n"
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Append static data (success)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, -200]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Build a Sentry-compatible event payload for GlitchTip ingest.\n// GlitchTip is Sentry-API compatible: POST <DSN_BASE>/api/<project_id>/store/\n// with header X-Sentry-Auth (or query param sentry_key). The `fingerprint`\n// field controls dedup/grouping — using 'batch:<workflow_name>' gives us\n// idempotent create + auto-reopen on regression at the GlitchTip side, which\n// replaces the previous Notion lookup/route/create/reopen/increment graph.\n//\n// The DSN comes from $env.GLITCHTIP_DSN_N8N_WORKFLOWS. Format :\n//   http://<public_key>@<host>:<port>/<project_id>\n// We split it once here to derive the ingest URL + sentry_key for the next\n// HTTP node (n8n expressions don't let us URL-parse cleanly downstream).\nconst body = $('Schema Validation').first().json;\n\nconst dsn = $env.GLITCHTIP_DSN_N8N_WORKFLOWS;\nif (!dsn) throw new Error('GLITCHTIP_DSN_N8N_WORKFLOWS env not set');\nconst dsnMatch = dsn.match(/^(https?:\\/\\/)([^@]+)@([^/]+)\\/(\\d+)$/);\nif (!dsnMatch) throw new Error('GLITCHTIP_DSN_N8N_WORKFLOWS malformed (expected http://<key>@<host>/<id>)');\nconst [, scheme, publicKey, host, projectId] = dsnMatch;\nconst ingestUrl = `${scheme}${host}/api/${projectId}/store/?sentry_key=${publicKey}`;\n\nconst severityByConclusion = {\n  failure: 'error',\n  cancelled: 'warning',\n  timed_out: 'warning',\n  action_required: 'warning',\n};\nconst level = severityByConclusion[body.conclusion] || 'warning';\n\nconst nowIso = new Date().toISOString();\nconst eventPayload = {\n  // Sentry SDK 'event' protocol — minimal fields.\n  timestamp: nowIso,\n  platform: 'other',\n  level,\n  logger: 'n8n.batch-sentinel',\n  message: `Batch ${body.workflow_name} concluded with ${body.conclusion} on attempt ${body.attempt}.`,\n  // fingerprint = stable dedup key → GlitchTip reuses the same issue on regression\n  // and increments occurrence count natively. Replaces the legacy External ID logic.\n  fingerprint: ['batch:' + body.workflow_name],\n  tags: {\n    source: 'batch',\n    workflow: body.workflow_name,\n    conclusion: body.conclusion,\n    severity: level,\n  },\n  extra: {\n    workflow_name: body.workflow_name,\n    conclusion: body.conclusion,\n    run_id: body.run_id,\n    run_url: body.run_url,\n    commit_sha: body.commit_sha || null,\n    actor: body.actor || null,\n    ref: body.ref || null,\n    started_at: body.started_at || null,\n    completed_at: body.completed_at,\n    duration_s: body.duration_s ?? null,\n    attempt: body.attempt,\n  },\n};\n\nconst markdown = [\n  `# [batch] failure: ${body.workflow_name}`,\n  ``,\n  `## TL;DR`,\n  `Batch \\`${body.workflow_name}\\` concluded with \\`${body.conclusion}\\` on attempt ${body.attempt}.`,\n  ``,\n  `## Run`,\n  `- URL: ${body.run_url}`,\n  `- Commit: ${body.commit_sha || 'unknown'}`,\n  `- Actor: ${body.actor || 'unknown'}`,\n  `- Ref: ${body.ref || 'unknown'}`,\n  `- Started at: ${body.started_at || 'unknown'}`,\n  `- Completed at: ${body.completed_at}`,\n  `- Duration: ${body.duration_s == null ? 'unknown' : body.duration_s + 's'}`,\n].join('\\n');\n\nreturn {\n  json: {\n    ...body,\n    _glitchtip_ingest_url: ingestUrl,\n    _glitchtip_payload: eventPayload,\n    _markdown_string: markdown,\n  },\n};\n"
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Build GlitchTip Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._glitchtip_ingest_url }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._glitchtip_payload) }}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "GlitchTip Ingest Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1000, 0],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            { "id": "ok1", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-00000000000a",
      "name": "IF GlitchTip Ingest OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Quarantine fallback (GlitchTip ingest failed after 3 retries).\n// Writes the Markdown payload to /quarantine so a human operator can review\n// and replay later. /quarantine is bind-mounted by docker-compose.yml.\nconst fs = require('fs');\nconst path = require('path');\n\nconst markdown = $('Build GlitchTip Payload').first().json._markdown_string || '';\nconst eventBody = $('Schema Validation').first().json;\nconst externalIdSlug = (eventBody._external_id || 'unknown').replace(/[^a-zA-Z0-9_-]/g, '-');\nconst tsSlug = new Date().toISOString().replace(/[:.]/g, '-');\nconst filePath = `/quarantine/batch-${tsSlug}-${externalIdSlug}.md`;\n\nlet writeStatus = 'ok';\nlet writeError = null;\ntry {\n  fs.mkdirSync(path.dirname(filePath), { recursive: true });\n  fs.writeFileSync(filePath, markdown, { encoding: 'utf8', mode: 0o600 });\n} catch (e) {\n  writeStatus = 'failed';\n  writeError = String(e?.message || e);\n}\n\nreturn {\n  json: {\n    ...$json,\n    _quarantine_path: filePath,\n    _quarantine_status: writeStatus,\n    _quarantine_error: writeError,\n  },\n};\n"
      },
      "id": "a1000000-0000-0000-0000-00000000000b",
      "name": "Quarantine Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 100],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_DISCORD_DIGEST_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: `🔴 batch ${$('Schema Validation').first().json.conclusion}: **${$('Schema Validation').first().json.workflow_name}** — run #${$('Schema Validation').first().json.run_id} attempt ${$('Schema Validation').first().json.attempt}\\n${$('Schema Validation').first().json.run_url}` }) }}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "a1000000-0000-0000-0000-00000000000c",
      "name": "Discord Failure Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Append failure outcome to static data (counted in digest). Same pruning\n// rule as success path.\nconst body = $('Schema Validation').first().json;\nconst sd = $getWorkflowStaticData('global');\nif (!Array.isArray(sd.batch_outcomes)) sd.batch_outcomes = [];\n\nsd.batch_outcomes.push({\n  workflow_name: body.workflow_name,\n  conclusion: body.conclusion,\n  run_url: body.run_url,\n  completed_at: body.completed_at,\n  duration_s: body.duration_s ?? null,\n  attempt: body.attempt,\n});\n\nconst cutoffMs = Date.now() - 25 * 60 * 60 * 1000;\nsd.batch_outcomes = sd.batch_outcomes.filter((e) => {\n  const t = new Date(e.completed_at).getTime();\n  return Number.isFinite(t) && t >= cutoffMs;\n});\n\nreturn { json: { ...body, _appended: true, _branch: 'failure' } };\n"
      },
      "id": "a1000000-0000-0000-0000-00000000000d",
      "name": "Append static data (failure)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Structured log line for Promtail/Loki ingestion.\nconst body = $json;\nlet latency_ms = null;\ntry {\n  const startedAt = (typeof $execution !== 'undefined' && $execution?.startedAt) ? $execution.startedAt : null;\n  if (startedAt) {\n    const startMs = new Date(startedAt).getTime();\n    if (!Number.isNaN(startMs)) latency_ms = Date.now() - startMs;\n  }\n} catch (_) {}\n\nconsole.log(JSON.stringify({\n  level: 'info',\n  ts: new Date().toISOString(),\n  service: 'n8n',\n  workflow: 'batch-sentinel',\n  event: 'webhook_received',\n  workflow_name: body.workflow_name,\n  conclusion: body.conclusion,\n  branch: body._branch || 'success',\n  external_id: body._external_id || ('batch:' + body.workflow_name),\n  latency_ms,\n}));\n\nreturn { json: body };\n"
      },
      "id": "a1000000-0000-0000-0000-00000000000e",
      "name": "Structured Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ JSON.stringify({ status: 'ok', workflow_name: $json.workflow_name, conclusion: $json.conclusion, branch: $json._branch || 'success' }) }}",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-00000000000f",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "5 9 * * *" }
          ]
        }
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Schedule 09:05",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2200, 600]
    },
    {
      "parameters": {
        "jsCode": "// batch-sentinel digest — agrège la santé des batchs sur 24h depuis static data.\nconst NOW = Date.now();\nconst WINDOW_MS = 24 * 60 * 60 * 1000;\nconst cutoff = NOW - WINDOW_MS;\n\nconst dateLabel = new Date(NOW).toLocaleString('fr-FR', {\n  timeZone: 'Europe/Paris', day: '2-digit', month: '2-digit',\n  hour: '2-digit', minute: '2-digit',\n});\n\nconst sd = $getWorkflowStaticData('global');\nconst outcomes = Array.isArray(sd.batch_outcomes) ? sd.batch_outcomes : [];\nconst recent = outcomes.filter((e) => {\n  const t = new Date(e.completed_at).getTime();\n  return Number.isFinite(t) && t >= cutoff;\n});\n\nif (recent.length === 0) {\n  return { json: { content: `📊 Ratis batchs — 24h (${dateLabel})\\n• 0 run batch reporté dans la fenêtre` } };\n}\n\nconst perWorkflow = {};\nfor (const e of recent) {\n  if (!perWorkflow[e.workflow_name]) {\n    perWorkflow[e.workflow_name] = { total: 0, success: 0, failure: 0, failures_urls: [] };\n  }\n  const bucket = perWorkflow[e.workflow_name];\n  bucket.total += 1;\n  if (e.conclusion === 'success') {\n    bucket.success += 1;\n  } else {\n    bucket.failure += 1;\n    if (bucket.failures_urls.length < 3) bucket.failures_urls.push(e.run_url);\n  }\n}\n\nconst totalRuns = recent.length;\nconst totalSuccess = recent.filter((e) => e.conclusion === 'success').length;\nconst totalFailure = totalRuns - totalSuccess;\n\nconst lines = [];\nlines.push(`📊 Ratis batchs — 24h (${dateLabel})`);\nlines.push(`• total : ${totalRuns} (${totalSuccess} ✅ / ${totalFailure} ❌)`);\nlines.push(`• détails :`);\nfor (const [name, stats] of Object.entries(perWorkflow)) {\n  const icon = stats.failure > 0 ? '❌' : '✅';\n  lines.push(`  ${icon} ${name} — ${stats.success}✅/${stats.failure}❌ (n=${stats.total})`);\n}\nif (totalFailure > 0) {\n  lines.push(`• échecs (run urls) :`);\n  for (const [name, stats] of Object.entries(perWorkflow)) {\n    for (const url of stats.failures_urls) {\n      lines.push(`  • ${name}: ${url}`);\n    }\n  }\n}\n\nreturn { json: { content: lines.join('\\n') } };\n"
      },
      "id": "b1000000-0000-0000-0000-000000000002",
      "name": "Aggregate digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2000, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_DISCORD_DIGEST_WEBHOOK_URL }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000003",
      "name": "Post digest to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1800, 600]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "HMAC + Timestamp Verification", "type": "main", "index": 0 }]] },
    "HMAC + Timestamp Verification": { "main": [[{ "node": "Schema Validation", "type": "main", "index": 0 }]] },
    "Schema Validation": { "main": [[{ "node": "IF Gate", "type": "main", "index": 0 }]] },
    "IF Gate": {
      "main": [
        [{ "node": "IF conclusion success", "type": "main", "index": 0 }],
        [{ "node": "Respond Failure", "type": "main", "index": 0 }]
      ]
    },
    "IF conclusion success": {
      "main": [
        [{ "node": "Append static data (success)", "type": "main", "index": 0 }],
        [{ "node": "Build GlitchTip Payload", "type": "main", "index": 0 }]
      ]
    },
    "Append static data (success)": { "main": [[{ "node": "Structured Log", "type": "main", "index": 0 }]] },
    "Build GlitchTip Payload": { "main": [[{ "node": "GlitchTip Ingest Event", "type": "main", "index": 0 }]] },
    "GlitchTip Ingest Event": { "main": [[{ "node": "IF GlitchTip Ingest OK", "type": "main", "index": 0 }]] },
    "IF GlitchTip Ingest OK": {
      "main": [
        [{ "node": "Discord Failure Alert", "type": "main", "index": 0 }],
        [{ "node": "Quarantine Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Quarantine Fallback": { "main": [[{ "node": "Discord Failure Alert", "type": "main", "index": 0 }]] },
    "Discord Failure Alert": { "main": [[{ "node": "Append static data (failure)", "type": "main", "index": 0 }]] },
    "Append static data (failure)": { "main": [[{ "node": "Structured Log", "type": "main", "index": 0 }]] },
    "Structured Log": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] },
    "Schedule 09:05": { "main": [[{ "node": "Aggregate digest", "type": "main", "index": 0 }]] },
    "Aggregate digest": { "main": [[{ "node": "Post digest to Discord", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris"
  },
  "id": "batch-sentinel-v0",
  "tags": [],
  "pinData": {},
  "meta": {}
}
